@import '@/styles/variables.scss';

.main {
  background-color: var(--background-color);
  width: 100%;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: var(--text-color);
  flex-direction: column;
  font-family: var(--font-family);
  gap: 15px;
}